body{
    margin: 0;
}
h1, h2, p{
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
p{
    width: 560px;
    font-size: 12px;
    font-weight: normal;
}
a{
    color: #FFC000;
    text-decoration: none;
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #333, #555);*/
}
.title, .text{
        width: 556px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
/*style form*/
#mc-embedded-subscribe-form{
    border-radius: 32px;
    display: block;
    width: 588px;
    height: 47px;
    background: #fff;
    border: 2px solid #F2F2F2;
}
/**/
#mc_embed_signup_scroll div{
    
}
/*style input email*/
    #mce-EMAIL{
        width: 360px;
        height: 47px;
        border: none;
        border-radius: 32px;
        font-weight: bold;
    }
    #mce-EMAIL::placeholder{
        color: #BDBDBD;
        font-family: 'Lato' sans-serif;
        font-weight: normal;
    }
    /* style bouton submit */
    #mc-embedded-subscribe{
        width: 184px;
        height: 47px;
        border: currentColor;
        border-radius: 29px;
        background: linear-gradient(90deg, #FFEA00, #FFC000);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        cursor: pointer;
        color: #069989;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    #mc-embedded-subscribe:hover{
        width: 184px;
        height: 47px;
        border: currentColor;
        border-radius: 29px;
        background: linear-gradient(90deg, #FFB800, #FF9900);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFF;
    }

footer p{
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
footer a{
    color: #fff;
}
.social{
    width: 288px;
    display: inline;
    background: blue;
}


/*  STYLE DESKTOP   */
@media screen and (min-width: 1260px) and (max-width:2560px){
    body{
        width:;
        background: url(../img/desktop/BG_DESKTOP.jpg) no-repeat;
        background-size: cover;
    }img{
        margin: 5% 7% 2%;
    }
    h1, h2, p{
        margin-left: 7%;
        margin-right: 7%;
    }
    h2{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    p{
        margin-bottom: 2%;
    }
    .title, .text{
        width: 45%;/*556spx 50%*/
        text-align: left;
        margin: 0 7%;
    }
    .title{
        line-height: 48px;
        font-size: 40px;
        font-weight: bold;
        margin-top: 3%;
    }
    .text{
        font-size: 25px;
        font-weight: normal;
        margin-top: 3%;
    }
    /*form*/
    #mc-embedded-subscribe-form{
        width: ;
        margin: 3% 7%;
    }
    /* input email */
    #mce-EMAIL{
        line-height: 20px;
        font-size: 24px;
        font-weight: normal;
        padding-left: 5%;
    }
    /* bouton submit */
    #mc-embedded-subscribe{
        float: right;
        line-height: 20px;
        font-size: 24px;
    }
    #mc-embedded-subscribe:hover{
        float: right;
        line-height: 20px;
        font-size: 24px;
    }
    footer{   
        margin-top: 4%;
    }
    .social{
        margin: 0 7%;
    }
    .social img{
        margin: auto;
        display: block;
    }
}


/*  STYLE TABLET 1  */
@media screen and (min-width: 768px) and (max-width:1260px){
    body{
        width:100%;
        background: url(../img/desktop/BG_DESKTOP.jpg) no-repeat;
        background-size: cover;
    }img{
        width: 13%;
        margin: 5% 7% 2%;
    }
    h1, h2, p{
        margin-left: 7%;
        margin-right: 7%;
    }
    h2{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    p{
        margin-bottom: 2%;
    }
    .title, .text{
        text-align: left;
        margin: 0 7%;
        padding-top: 3%;
    }
    .title{
        width: 460px;
        font-size: 32px;
        font-weight: bold;
    }
    .text{
        width: 460px;
        font-size: 18px;
        font-weight: normal;
    }
    /*form*/
    #mc-embedded-subscribe-form{
        width: ;
        margin: 0 7%;
        margin-top: 3%;
    }
    /* input email */
    #mce-EMAIL{
        width: ;
        line-height: 20px;
        font-size: 18px;
        font-weight: normal;
        padding-left: 5%;
    }
    /* bouton submit */
    #mc-embedded-subscribe{
        float: right;
    }
    #mc-embedded-subscribe:hover{
        float: right;
    }
    footer{  
    margin-top: 15%; 
    }
}

/*  STYLE TABLET 2  */
@media screen and (min-width: 580px) and (max-width:768px){
    body{
        width:100%;
        background: url(../img/desktop/BG_DESKTOP.jpg) no-repeat;
        background-size: cover;
    }img{
        width: 13%;
        margin: 5% 7% 2%;
    }
    h1, h2, p{
        margin-left: 7%;
        margin-right: 7%;
    }
    h2{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    p{
        margin-bottom: 2%;
    }
    .title, .text{
        text-align: left;
        margin: 0 7%;
        padding-top: 3%;
    }
    .title{
        width: 50%;
        font-size: 26px;
        font-weight: bold;
    }
    .text{
        width: 50%;
        font-size: 16px;
        font-weight: normal;
    }
    /*form*/
    #mc-embedded-subscribe-form{
        width: 50%;
        height: 30px;
        margin: 0 7%;
        margin-top: 5%;
    }
    /* input email */
    #mce-EMAIL{
        width: 50%;
        height: 30px;
        line-height: 16px;
        font-size: 14px;
        font-weight: normal;
        padding-left: 5%;
    }
    /* bouton submit */
    #mc-embedded-subscribe{
        float: right;
        width: 30%;
        height: 30px;
    }
    #mc-embedded-subscribe:hover{
        float: right;
        width: 30%;
        height: 30px;
    }
    footer{  
    margin:5% 0; 
    }
    footer p{
        margin-top: 15%;
        font-size: 11px;
    }
}

/*  STYLE MOBILE  */
@media screen and (max-width:580px){
    body{
        width:100%;
        /*height: 667px;*/
        margin: 0;
        background: url(../img/mobile/BG-MOBILE.jpg) no-repeat;
        background-size: cover;
    }
    .center{
        width: 30%;
        text-align: center;
        vertical-align: middle;
        margin: 10% auto;
        display: block;
    }
    h1, h2, p{
        width: 86%;
        text-align: center;
        margin: 0 7%;
    }
    h2{
        margin-top: 5%;
        margin-bottom: 3%;
    }
    p{
        font-weight: 10px;
        margin-bottom: 5%;
    }
    .title, .text{
        width: 90%;
        text-align: center;
        margin: 0 5%;
        padding-top: 10%;
    }
    .title{
        /*max-width: 309px;
        min-width: 220px;*/
        font-size: 25px;
        line-height: 24px;
    }
    .text{
        /*max-width: 309px;
        min-width: 220px;*/
        font-size: 18px;
        line-height: 24px;
    }
    /*form*/
    #mc-embedded-subscribe-form{
        width: 90%;
        height: 26px;
        margin: 5%;
    }
    /* input email */
    #mce-EMAIL{
        width: 90%;
        height: 25px;
        padding-left: 5%;
        font-size: 12px;
        line-height: 14px;
    }
    /* bouton submit */
    #mc-embedded-subscribe{
        line-height: 19px;
        width: 40%;
        max-width: 210px;
        height: 30px;
        text-transform: uppercase;
        margin: 5% 30%;
        display: block;
        vertical-align: middle;
    }
    #mc-embedded-subscribe:hover{
        line-height: 19px;
        width: 40%;
        max-width: 210px;
        height: 30px;
        text-transform: uppercase;
        margin: 5% 30%;
        display: block;
        vertical-align: middle;
    }
    footer{  
        width: 90%;
        margin: 20% 5% 0;
        text-align: center;
    }
    footer p{
        padding-top: 15%;
        font-size: 10px;
    }
}