body{
    min-width: 310px;
}

    /*style form*/
    #mc-embedded-subscribe-form{
        background: #fff;
        border: 2px solid #e0e0e0;
        border-radius: 50px;
        display: block;
    }
    /**/
    #mc_embed_signup_scroll div{
        width: 0px;
    }
    /*style input email*/
    #mce-EMAIL{
        width: 50%;
        border: none;
        border-radius: 50px;
    }
    /* style bouton submit */
    #mc-embedded-subscribe{
        width: 123px;
        border: none;
        border-radius: 50px;
        background: linear-gradient(90deg, #00b8ba, #01926e);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        cursor: pointer;
        color: #fff;
        font-family: 'Roboto', sans-serif; 
        font-weight: 900;
        float: right;
    }
    #mc-embedded-subscribe:hover{
        width: 123px;
        border: none;
        border-radius: 50px;
        background: linear-gradient(90deg,#01926e, #00b8ba);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        float: right;
    }


/*style desktop*/
@media screen and (min-width: 377px) and (max-width:1920px){
    body{
        width:100%;
        background: url(../img/desktop/BG.jpg) no-repeat;
        background-size: cover;
    }
    img{
        margin: 5% 7% 5%;
        display: block;
    }
    h1, p{
        text-align: left;
        color: #fff;
        margin: 0 7%;
        font-family: 'Roboto', sans-serif;
    }
    h1{
        width: 35%;
        font-size: 2.5em;
        font-weight: 700;
        padding: 0%;
    }
    p{
        width: 40%;
        font-size: 1.3em;
        font-weight: 700;
        margin-bottom: 2%;
    }
    /*form*/
    #mc-embedded-subscribe-form{
        width: 45%;
        height: 53px;
        margin: 0 7% 7%;
    }
    /* input email */
    #mce-EMAIL{
        margin-left: 5%;
        margin-top: 1.5%;
    }
    /* bouton submit */
    #mc-embedded-subscribe{
        width: 30%;
        max-width: 211px;
        height: 50px;
        text-transform: uppercase;
    }
    #mc-embedded-subscribe:hover{
        width: 30%;
        max-width: 211px;
        height: 50px;
        text-transform: uppercase;
    }
    
}
/*style mobile*/
@media screen and (max-width:376px){
    body{
        width:100%;
        margin: 0;
        background: url(../img/mobile/BG_MOBILE.jpg) no-repeat;
        background-size: cover;
    }
    .center{
        width: 30%;
        text-align: center;
        vertical-align: middle;
        margin: 15% auto;
        display: block;
    }
    h1, p{
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }
    h1{
        font-size: 1.5em;
        font-weight: 700;
        padding: 0% 10%;
    }
    p{
        font-size: 0.9em;
        font-weight: 700;
        padding: 0% 2%;
    }
    /*form*/
    #mc-embedded-subscribe-form{
        width: 90%;
        margin: 0 5%;
    }
    /* input email */
    #mce-EMAIL{
        margin-left: 5%;
    }
    /* bouton submit */
    #mc-embedded-subscribe{
        max-width: 123px;
        text-transform: uppercase;
    }
    #mc-embedded-subscribe:hover{
        max-width: 123px;
        text-transform: uppercase;
    }
}