body{
    background: linear-gradient(180deg, #39c566, #39b7c5);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
}
@keyframes BackgroundGradient{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

h1{
    font-size: 3em;
    font-weight: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #fcff00, #ffd800);
    padding: 0 5% 0 5%;
}

p{
    font-size: 1em;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #fcff00, #ffd800);
    padding: 0 5% 0 5%;
}
#fil{
    opacity: unset;
    width: 100%;
}
.send{
    border: none;
    background: linear-gradient(90deg, #ffd800, #fcff00);
}
.send:hover{
    background: linear-gradient(90deg,#fcff00, #ffd800);
}
.form-row p{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left,#3f22d5, #6d2fc9);
}
.form-row p:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left, #6d2fc9, #3f22d5);

}


/*style desktop*/
@media screen and (max-width:1050px){
    body{
        width:95%;
        margin: auto;
    }
    header{
        width:100%;
    }
    nav{
        clear: both;
        width: 100%;
    }
    section{
        width: 40%;
    }
    article{
        width: 60%;
    }
}
/*style mobile*/
@media screen and (max-width:450px){
    body, nav, article, section{
        width:100%;
        margin: 0;
    }
    img{
        size: 70%;
    }
    h1, p{
        width: 50%;
        margin: 5%;
    }
    
}